[submodule "SuperPointPretrainedNetwork"]
	path = SuperPointPretrainedNetwork
	url = https://github.com/magicleap/SuperPointPretrainedNetwork.git
[submodule "caps"]
	path = caps
	url = https://github.com/qianqianwang68/caps.git
